<div class="search-form mt-4">
    <form method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tìm kiếm</label>
            <input type="text" name='q' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>